<p>Dobrý den,</p>

<p>Zasíláme Vám informace o Vašem uživatelském účtu v eshopu Hračky MATYLAND</p>

<p>email: {$userName}</p>
<p>heslo: {$newPass}</p>

<p>Po přihlášení doporučujeme provést okamžitou změnu hesla</p>

<p>Přeji pěkný den</p>

<pMATYLAND</p>