<p>Vážený zákazníku,</p>
<p>požádal(a) jste nás o zaslání zapomenutého hesla, pro příští přihlášení použijte prosím tyto údaje:</p>
<br>
<p>E-mail: {$userName}</p>
<p>Heslo: {$newPass}</p>
<br>
<p>Po přihlášení doporučujeme provést okamžitou změnu hesla.</p>
<p>Děkujeme a přejeme příjemný den.</p>
<p>S přátelským pozdravem,</p>
<p>Zákaznický servis <a href="http://{$website}">http://{$website}</a></p>
<br>
<p>Tento e-mail je generován automaticky, prosíme, neodpovídejte na něj.</p>