<div class="header">
    <div class="logo"><a href="{$basePath}/admin"><img src="{$basePath}/images/administration/logo.gif" alt="" title="" border="0" /></a></div>

    <div class="right_header">Vítejte správče, <a href="{$basePath}">Stránka e-shopu</a> | <a n:href="signOut!" class="logout">Odhlásit se</a></div>
    <div class="jclock"></div>
</div>