{block title}Kategorie nenalezena | {$setting->eshop_name}{/block}
{block content}
<div id="inside">
    <div id="notice" style="margin-top: 10px">Litujeme, ale do kategorie nebyl dosud přidán žádný produkt</div>
</div>