{status 404}
{block title}Produkt nenalezen | {$setting->eshop_name}{/block}
{block content}
<div id="inside">
    <div id="notice" style="margin-top: 10px">Litujeme, ale Vámi požadovaný produkt nebyl nalezen.</div>
</div>