{block content}
<h2>Děkujeme Vám za objednání zboží. Vaší objednávku se pokusíme vyřídit co nejrychleji. 
        Informace o objednávce Vám byli zaslány na Vaší uvedenou e-mailovou adresu.
        S pozdravem Váš MatyLand.cz</h2>