{block content}
<div class="inside-content">
    <div style="padding-left: 20px">
    <p>Kontaktní osoba:</p>
    <p>Lukáš Klimčík, tel:+420608481418</p>
    <p>Eliška Malá, tel:+420608248147 </p>
    <p>Email:</p>
    <p>info@hracky-matyland.cz</p>
    <p>Adresa provozovny:</p>
    <p>Jiránkova 2301, Pardubice, 53002</p>
    Mapa:

    <a href="http://www.mapy.cz/s/5jv9">Najdete nás zde</a>
    </div>
</div>