{block content}
<div class="inside-content">
    <h2>Napište nám</h2>
    <p>V případě, že potřebujete poradit, chcete se dozvědět podrobnější informace 
        či chcete nahlásit nějakou chybu, neváhejte a klidně nám napište. Rádi Vám odpovíme</p>
    {control contactForm}
</div>