{block content}
<div class="inside-content">
    {foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
    {/foreach}
    <h2>Napište nám</h2>
<p style="padding-bottom: 20px">V případě, že potřebujete poradit, chcete se dozvědět podrobnější informace 
    či chcete nahlásit nějakou chybu, neváhejte a klidně nám napište. Rádi Vám odpovíme</p>
    {control contactForm}
</div>