<!DOCTYPE html>
<html>
    <head>
        <title>MatyLand - Váš svět hraček</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/search.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/styles-light-navigation.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/shipping-form.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/rating.css" />

        <link rel="stylesheet" type="text/css" href="{$basePath}/css/piro.css"/>

        <script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.ajaxform.js"></script>
        <script type="text/javascript" src="{$basePath}/js/ajax.js"></script>
        <script src="{$basePath}/js/jquery1.8.2.js"></script> 
        <script src="{$basePath}/js/frontJS.js"></script> 

        <script type="text/javascript" src="{$basePath}/js/jquery.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/pirobox_extended.js"></script>
    </head>

    <body>
        {include header.latte}
        <div id="content">
            {include navigation.latte}
            {include #content}
        </div>
        {include footer.latte}
    </body>
</html>