<!DOCTYPE html>
<html>
    <head>
        <title>{block #title}{/block}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="{$setting->eshop_describe}">
        <meta name="keywords" content="{$setting->eshop_key_words}">
        <link rel="icon" href="{$basePath}/images/info/favicon/{$setting->eshop_favicon}" />

        <link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/search.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/styles-light-navigation.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/shipping-form.css" />
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/rating.css" />

        <link rel="stylesheet" type="text/css" href="{$basePath}/css/piro.css"/>

        <link rel="stylesheet" href="{$basePath}/css/themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{$basePath}/css/nivo-slider.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="{$basePath}/css/jquery.ui.slider.css" type="text/css" media="screen" />

        <script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.ajaxform.js"></script>
        <script type="text/javascript" src="{$basePath}/js/ajax.js"></script>
        <script src="{$basePath}/js/jquery1.8.2.js"></script> 
        <script src="{$basePath}/js/frontJS.js"></script> 

        <script type="text/javascript" src="{$basePath}/js/jquery.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.2.custom.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/pirobox_extended.js"></script>

        <script type="text/javascript" src="{$basePath}/js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.nivo.slider.js"></script>

        <!-- navigation -->
        <link href="{$basePath}/css/skins/grey.css" rel="stylesheet" type="text/css" />
        <link href="{$basePath}/css/dcaccordion.css" rel="stylesheet" type="text/css" />
        <script type='text/javascript' src='{$basePath}/js/jquery.cookie.js'></script>
        <script type='text/javascript' src='{$basePath}/js/jquery.dcjqaccordion.2.7.js'></script>

<!-- slider -->
        <script type='text/javascript' src='{$basePath}/js/jquery-ui-1.10.1.custom.js'></script>
        <script type='text/javascript' src='{$basePath}/js/jquery.ui.core.js'></script>
        <script type='text/javascript' src='{$basePath}/js/jquery.ui.widget.js'></script>
        <script type='text/javascript' src='{$basePath}/js/jquery.ui.mouse.js'></script>
        <script type='text/javascript' src='{$basePath}/js/jquery.ui.slider.js'></script>
        <script>
$(function() {
        $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 5000,
                values: [ 0, 5000 ],
                slide: function( event, ui ) {
                        $( "#amount" ).val(ui.values[ 0 ] + " Kč - " + ui.values[ 1 ] + " Kč");
                }
        });
        $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
                " Kč - " + $( "#slider-range" ).slider( "values", 1 ) + " Kč");
});
        </script>
    </head>

    <body>
        {include header.latte}
        <div id="content">
            <div id="sidebar">
                    <script type="text/javascript">
$(document).ready(function($){
        $('#accordion').dcAccordion({
                eventType: 'click',
                autoClose: true,
                saveState: true,
                disableLink: false,
                speed: 'fast',
                classActive: 'active',
                showCount: false
        });
});
                    </script>   
                    {ifCurrent Product:*}
                    <img src="{$basePath}/images/kategorie.jpg" alt="" width="233" height="41" /><br />
                    <div class="grey">
                        <ul class="accordion" id="accordion">
                            {block #categories}
                            {foreach $categories as $node}
                            <li><a n:href="Category: $node['cat_id'], $node['cat_name']">{$node["cat_name"]}</a>
                                <ul n:if="count($node['children'])">
                                    {include #categories, 'categories' => $node["children"]}
                                </ul>
                            </li>
                            {/foreach}
                            {/block}
                        </ul>
                    </div>
                    {else}
                                        {form nabidkaForm}
                    <div id="nabidka">
                        <span id="nabidka-title">Potřebujete poradit s výběrem dárku?</span>
                        <select>
                            <option value="volvo">- Pohlaví -</option>
                            <option value="saab">Holka</option>
                            <option value="mercedes">Kluk</option>
                            <option value="audi">Kojenec</option>
                            <option value="audi">Neutral</option>
                        </select>
                        <select>
                            <option value="volvo">- Věk -</option>
                            <option value="saab">0 - 6 měsíců</option>
                            <option value="mercedes">6 - 12 měsíců</option>
                            <option value="audi">1 - 3 let</option>
                            <option value="audi">3 - 6 let</option>
                            <option value="audi">6 - 12 let</option>
                            <option value="audi">12 a více let</option>
                        </select>
                        <p>
                            <label for="amount" style="margin-left: 0px; color: #000; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">Cena:</label>
                            <input n:input="price" type="text" id="amount" style="border:0; color: #000; font-weight:bold;" />
                        </p>

                        <div id="slider-range"></div>
                        <input n:input="send" type="submit" name="btnSearchToy" value="Vyhledat hračku"/>
                    </div>
                    {/form}
                    {/ifCurrent}
                    <img src="{$basePath}/images/recenze.jpg" alt="" width="233" height="41" /><br />																																																																																																																																																															
                    <div class="review">
                        <a n:href="Product: $randomProduct->product->prod_id, $randomProduct->product->prod_name">
                            <img src="{$basePath}/images/products/{$randomProduct->image_name}" alt="" width="181" height="161" /></a><br />
                        <div style="padding-top: 10px">
                            <a n:href="Product: $randomProduct->product->prod_id, $randomProduct->product->prod_name">
                    {$randomProduct->product->prod_name}</a>
                        </div><br />
                        <div class="describe">{!$randomProduct->product->prod_describe|truncate:100}</div>
                        <img src="{$basePath}/images/stars.jpg" alt="" width="118" height="20" class="stars" />
                    </div>
                </div>
            {include #content}
        </div>
        {include footer.latte}
    </body>
</html>