/* basket template*/
/* kroková navigace */
.header-wrapper {
    width:670px;
    height:45px;
    background:url('../images/table/header-bg.jpg');
    background-repeat:repeat-x;
}

.basket input[type="text"]
{
    width:20px
}
.basket input[name=update] {
    background : transparent url(../images/order/checkmark.png) no-repeat center center;
    width : 18px;
    height : 20px;
    border : none;
    padding-top: 10px;
    font-size : 0;
    cursor:pointer;
}
.basket input[name=remove] {
    background : transparent url(../images/order/cross.png) no-repeat center center;
    width : 18px;
    height : 18px;
    border : none;
    padding-top: 10px;
    font-size : 0;
    cursor:pointer;
}

#basket-box{
    width: 670px;
    margin-left: 228px;
}

.basket-price {
    height: 92px;
}

.basket-price td span{
    font-weight: bold;
    font-family: Verdana, Sans-Serif, Arial;
}

/* Table Styles of Basket */
.basket table {
    border: 1px solid #cef;
    margin: 15px 25px;
    text-align: left; 
}

.basket th {
    font-weight: bold;

}

.basket td,th {
    padding: 4px 5px; 
}
/* stripped rows */
.basket .odd {
    /*        background-color: #FFFFFF; */
}
.basket .odd td {
    border-bottom: 1px solid #cef;
}   
.basket .even {
    /*        background-color: #FFFFFF */
}
.basket .even td {
    border-bottom: 1px solid #cef; 
} 

.basket input[name=backToShopping] {
    background:transparent url('../images/order/button-continue-shopping.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 168px;
    height: 35px;
    float: left;
    margin-left: 15px; 
    cursor: pointer;
}

.basket input[name=continue] {
    background:transparent url('../images/order/btn-continue.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-right: 35px; 
    cursor: pointer;
}

/* contact form */
.shipping-header input#submitlink {
    background: transparent;
    border: 0;
    cursor:pointer;
    font-size: 10px; 
    height: 12px;
    font-family: Verdana, Sans-Serif, Arial;
}

.shipping-form {
    float: left;
    width:618px;
    margin: 20px 0px 0px 17px;
    background-color: #ececec;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

.shipping-form h2 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
.shipping-form h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}

.shipping-form .checkbox{
    margin-left:50px;
    padding-top: 5px;
}

.shipping-form  fieldset.row1
{

    float:left;
    border-top:1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    border-left: none;
    border-right: none;
    margin-bottom: 10px;

}
.shipping-form  fieldset.row1 label{
    width:140px;
    float: left;
    text-align: right;
    margin-right: 1px;
    margin-top:2px;
}

.shipping-form .button
{
    background: #abda0f url(../img/overlay.png) repeat-x;
    padding: 8px 10px 8px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    float:left;
    font-size:18px;
    margin:10px;
}

.shipping-form input:focus, select:focus{
    background-color: #efffe0;
}

.shipping-form input#frmshippingForm-continue {
    background:transparent url('../images/order/btn-continue.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-right: 15px; 
    cursor: pointer;
}

.shipping-form .buttons {
    margin-top: 19px;
    margin-bottom: 10px;
}

/* payment and delivery */
.shipping-form  fieldset.paymentAndDelivery
{
    padding-left: 10px;
    border-bottom: 1px solid #F5F5F5;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 5px;
}

.shipping-form  fieldset.paymentAndDelivery label {
    padding-left: 10px;
}

.shipping-form fieldset.paymentAndDelivery input[type=radio] {
    margin-bottom: 7px;
}

.shipping-form input#frmpaymentAndDeliveryForm-continue {
    background:transparent url('../images/order/btn-continue.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-right: 15px; 
    cursor: pointer;
}

/* summary */
#order_adress
{
    float: left;
    width: 297px;
    padding-left: 20px;
    padding-bottom: 15px;

}
#order_facture
{
    float: left;
    width: 300px;
    padding-bottom: 59px;
}

#order_comment
{
    float: left;
    width: 618px;
    padding-top: 20px;
    padding-left: 20px;
}

#order_send
{
    float: left;
    width: 618px;
    padding-top: 20px;
    padding-left: 20px;
}

#order_basket_info
{    
    width: 618px;
}

/* .order_basket_info*/
/* kroková navigace */
#order_basket_info .header-wrapper {
    width:670px;
    height:45px;
    background:url('../images/table/header-bg.jpg');
    background-repeat:repeat-x;
}

#order_basket_info input[type="text"]
{
    width:20px
}

#order_basket_info #basket-box{
    width: 670px;
}

#order_basket_info #basket-price {
    height: 70px;
}

#order_basket_info #basket-price td span{
    display:inline-block;
    font-family: Verdana, Sans-Serif, Arial;
    margin-bottom: 10px;
}

#order_basket_info #total-price td span{
    font-family: Verdana, Sans-Serif, Arial;
    font-weight: bold;
}
/* Table Styles of Basket */
#order_basket_info table {
    border: 1px solid #cef;
    margin: 15px 7px;
    text-align: left;
    background-color: #fff
}

#order_basket_info th {
    font-weight: bold;

}

#order_basket_info td,th {
    padding: 4px 5px; 
}
/* stripped rows */
#order_basket_info .odd {
    /*        background-color: #FFFFFF; */
}
#order_basket_info .odd td {
    border-bottom: 1px solid #ACACAC;
}   
#order_basket_info .even {
    /*        background-color: #FFFFFF */
}
#order_basket_info .even td {
    border-bottom: 1px solid #ACACAC; 
}

.shipping-form input#frmcommentForm-complete {
    background:transparent url('../images/order/btn-complete.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-right: 15px; 
    cursor: pointer;
}

/* complete */
#complete #detail span {
    display:inline-block;
    margin-top: 10px;
    font-weight: bold;
}

#complete table {
    border: 1px solid #cef;
    margin: 15px 8px;
}

/* stripped rows */
#complete .odd {
    /*        background-color: #FFFFFF; */
}
#complete .odd td {
    border-bottom: 1px solid #cef;
}   
#complete .even {
    /*        background-color: #FFFFFF */
}
#complete .even td {
    border-bottom: 1px solid #cef; 
} 

#complete .basket-price {
    height: 80px;
}

#complete #basket-price td span{
    display:inline-block;
    font-family: Verdana, Sans-Serif, Arial;
    margin-top: 5px;
    margin-bottom: 10px;
}

#complete #total-price td span{
    display:inline-block;
    font-family: Verdana, Sans-Serif, Arial;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#complete input[name=backToShopping] {
    background:transparent url('../images/order/button-continue-shopping.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 168px;
    height: 35px;
    float: left;
    margin-left: 15px; 
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}