*{  
    margin:0;  
    padding:0;  
}  

#wrap {
    width: 930px;
    margin: 0 auto;
    text-align: left;
    /*    padding: 10px;*/
}


#inner-wrap {
    padding-bottom:0px;
}
#inner-wrap:after {
    content:" ";
    display:block;
    clear:both;

}

#header
{
    width: 930px;
    height: 123px;
    position: relative;
    top:0px;
}

#logo
{
    float: left;
    width: 315px;
    height: 123px;
}
#header-mid
{
    width: 390px;
    height: 123px;
    float: left;
}

#header-mid a{
    color:#0D0D0D;
    text-decoration:none;
}
#header-mid a:visited{text-decoration:none}
#header-mid a:hover{text-decoration:underline}

#header-mid img{
    float:left;
    margin:0 2px;
}
#header-mid span{
    display:block;
    float:left;
    margin:17px 10px 0 -15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

#header-mid img[id=userIcon] {
    height: 12px;
    width: 12px;
    padding: 2px 5px 0 0;
}

#header-mid img[id=regIcon] {
    height: 12px;
    width: 12px;
    float: right;
    padding: 2px 0px 0 2px;
}

#cart-design {
    height:90px;
    float: right;
    width: 210px;
    padding:5px 0 0 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color: #000;
    background-image: linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -o-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -moz-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -webkit-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -ms-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.58, rgb(159,178,34)),
        color-stop(0.31, rgb(148,162,25))
        );
    border:1px solid #BBBBBB;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 0px 1px 1px;
    -moz-border-radius:20px;
    border-radius: 0px 0px 10px 10px;

}

#cart-design img {
    float: left;
    margin-right: -20px;
    padding-top: 20px;
}

#cart-design strong {
    display: inline;
    font-size:17px;
    margin: 5px 5px 3px 15px;
}

#cart-design .priceCount {
    padding:0px 0px 5px 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: right;
    margin: 10px 5px 0 0;
}

#menu {
    list-style:none;
    width:930px;
    height: 70px;
    display:block;
    float:left;
    margin:0 0 10px 0;

    /* Rounded Corners */

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    /* Background color and gradients */
    background-image: linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -o-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -moz-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -webkit-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -ms-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.58, rgb(159,178,34)),
        color-stop(0.31, rgb(148,162,25))
        );
    /* Borders */

    border: 1px solid #002232;

    -moz-box-shadow:inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
    box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 4px 10px 4px 35px;
    margin-right:0px;
    margin-top:1px;
    border-style: none;
    border-right:1px solid white;
    z-index: 1000;
}

#menu li:hover {
    border: 1px solid #777777;
    padding: 4px 10px 4px 35px;

    /* Background color and gradients */

    background: #F4F4F4;
    background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));

    /* Rounded corners */

    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#menu li a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px; 
    color: #EEEEEE;
    display:block;
    outline:0;
    text-decoration:none;
    /*    text-shadow: 1px 1px 1px #000;*/
}

#menu li img {
    width: 35px;
    height: 35px;
}

#menu li:hover a {
    color:#161616;
    text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
    padding-right:21px;
    background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
    background:url("img/drop.png") no-repeat right 7px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:4px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #777777;
    border-top:none;

    /* Gradient background */
    background:#F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 290px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}

#menu li:hover div a {
    font-size:12px;
    color:#015b86;
}
#menu li:hover div a:hover {
    color:#029feb;
}


.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

.imgshadow { /* Better style on light background */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}

#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* Shadow */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}

#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:122px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;
}
#container
{
    width: 930px;
    height: 100%;
    margin: 0 auto 0 auto;
    float: left;
}
#content {
    width: 686px;
    min-height: 600px;
    float: left;
}
#footer
{
    width: 930px;
    height: 100px;
    position:relative;
    bottom: 0;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0D0D0D;
    padding:0px;

    background-image: linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -o-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -moz-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -webkit-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -ms-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.58, rgb(159,178,34)),
        color-stop(0.31, rgb(148,162,25))
        );
    border:1px solid #BBBBBB;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 0px 1px 1px;
    -moz-border-radius:20px;
    border-radius: 10px 10px 0px 0px;
}

#footer ul{
    padding:27px 0 13px 0
}
#footer li{
    display:inline;
    list-style-type:none;
}
#footer ul a{
    color:#0D0D0D;
    text-decoration:none;
    margin:0 12px;
}
#footer ul a:visited{text-decoration:none}
#footer ul a:hover{text-decoration:underline}

#cart
{
    float: left;
    width: 225px;
    height: 96px;
}
#sidebar
{
    width: 233px; 
    float: left;
    margin-right: 10px;
}

/**************/
/* CATEGORIES */
/**************/
.categories ul, ul li{list-style: none;}

.categories{font: bold 14px Arial, sans-serif; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.categories,  .categories li {margin: 0; padding: 0; border: none;}
.categories li > ul {margin: 0; padding-left: 10px; border: none; background: #b1abab}
.categories a {padding: 10px 10px 10px 50px; background: #ececec; text-decoration:none; display: block; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; position: relative; }
.categories a:hover {background: #fff; color: #990000;}
.categories a.dcjq-parent, .categories a.dcjq-parent:hover {background: #D7D4D4 url("../images/categories/bg_grey.png") repeat-x 0 -1px;}
.categories a.dcjq-parent.active, a.dcjq-parent.active:hover {color: yellow; background: #003263;}
.categories a.active, a.active:hover {color: yellow; background-color: #003263;}
.categories a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 34px; background: url("../images/categories/plus_grey.png") no-repeat 0 center;}
.categories a.dcjq-parent.active.dcjq-icon {background: url("../images/categories/minus_grey.png") no-repeat 0 center;}

.categories ul li {display: none;}
.categories li.parent ul li {display: block;}
.categories li.parent {display: block;}
.categories li.parent.active {color: yellow;}

#banner
{
    width: 689px;
    height: 300px;
    float: left;
}
#items
{
    width: 689px;
    height: 100%;
    float: left;
}
#nabidka {
    border:1px solid #777777;
    margin-top: -4px;
    padding: 5px 0 0 15px;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 0 0;
}

#nabidka select {
    border-radius: 3px;
    background: #f6f6f6;
    color: #003263;
    width: 200px;
    margin: 0 0 10px 0px;
    padding: 6px 5px 5px;
    color: #333;
    outline: none;
    border: 1px solid #b3b3b3;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 15px;
    margin-top: 4px;
}

#nabidka #nabidka-title {
    font-weight: bold;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

#nabidka input[name=btnSearchToy] {
    width: 200px;
    padding: 9px 15px;
    margin: 0 0 15px 0px;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background-image: linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -o-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -moz-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -webkit-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);
    background-image: -ms-linear-gradient(bottom, rgb(159,178,34) 58%, rgb(148,162,25) 31%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.58, rgb(159,178,34)),
        color-stop(0.31, rgb(148,162,25))
        );
}

/* recenze v navigaci */
#review {
    border:1px solid #BBBBBB;
    border-top:0px;
    padding:28px 0 15px 18px;
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;

    /* Rounded Corners */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 0px 0px 5px 5px;
}
#review a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#4B4B4B;
    text-decoration:underline;
    font-weight:bold;
}
#review a:visited, .item a:visited{text-decoration:underline}
#review a:hover, .item a:hover{text-decoration:none}
#review p{
    padding:0px 32px 13px 0;
}
.stars{
    margin:0 0 0 30px;
}

/* nové zboží na úvodní straně včetně nadpisu novinky*/
#inside{
    padding:0px 0px 0px 10px;
    float:left;
}

#outside-box {
    float: left;
    width: auto;
    max-width: 700px;
    margin: 5px 0px 0px 0px;
    background-color: #ececec;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    padding:10px 0px 0px 0px;
}

#inside-box {
    float: left;
    width: auto;
    margin: 5px 0px 0px 0px;
    background-color: #ececec;
    border:1px solid #BBBBBB;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 1px 1px 1px;
    -moz-border-radius:20px;
    border-radius: 20px 20px 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding:0px 0px 10px 0px;
}

#inside-box h2 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    margin:20px 5px 8px 25px;
}

#inside-box h4 {
    padding:1px; 
    font-size:10pt;
    font-weight: bold;
    text-transform:uppercase;
    padding-top: 10px;
    margin: 0 0 0 10px;
}

#inside-box input[name=back] {
    width: auto;
    height: 35px;
    padding: 9px 15px;
    float: left;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

#inside-box input[name=send] {
    width: auto;
    height: 35px;
    padding: 9px 15px;
    float: right;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
/* LIST */
#inside-box #list {
}
#inside-box #list ul { 
    list-style-image: url("../images/arrow.png");
    font-size:16px;
    padding-left: 40px;
}
#inside-box #list ul li { 
    line-height:20px;
    padding-top: 5px;
}
/* END OF LIST */

/* informace o stránce (momentálně vypnuté) */
.info{
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;
    padding:17px 0 36px 0;
    overflow:hidden;
    float:left;
}
.info img{
    float:left;
    margin:0 22px 0 0
}

/* informace o stránce - tlačítko more (momentálně vypnuté) */
.more{
    display:block;
}
.info p{
    width:470px;
    float:left;
    padding:0 0 12px 0
}

#news {
    margin-left: 0px; 
    margin-top: 5px; 
    margin-bottom: 0px; 
}

/* nové zboží na úvodní stránce bez nadpisu novinky */
#items{
    float:left;
}

/* to samé jako #items ale rozšířené */
.productItem{
    width:217px;
    min-height: 325px;
    border:1px solid #BBBBBB;
    margin:10px 6px 0px 0px;
    padding-bottom: 10px;
    float:left;
    position: relative;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 1px 1px 1px;
    background-color:#F4F8EE;
    -moz-border-radius:20px;
    border-radius: 20px 20px 20px 20px;
}

/* nadpis produktu */
.productItem .title{
    display:block;
    background-color:#F4F8EE;
    padding:10px 0 5px 10px;
    float:left;
    width:205px;
    height: 35px;
    border-radius: 20px 20px 0px 0px;
}

.productItem a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#4B4B4B;
    text-decoration:underline;
    font-weight:bold;
}

.image {
    padding-left: 5px;
    padding-right: 5px;

}

.image img {
    width: 205px;
    height: 150px;
    border: 1px solid #D4D4D4;
}

.store {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: right;
    padding-right: 20px;
    color:#4B4B4B;
}

.oldprice {
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: left;
    margin-left: 20px;
    color:#4B4B4B;
}

.oldprice:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    padding-left: 20px;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

.describe {
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 0px 10px 10px 10px;
    min-height: 30px;
}

.describe p {
    margin: 0;
    padding:0;
    float:left;
    padding-bottom: 10px;
}

.price{
    display:block;
    width:70px;
    float:left;
    background-color:#4ca849;
    text-align:center;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-weight:bold;
    margin-top: 2px;
    line-height:26px;
    margin-left: 10px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
.center{
    margin:10px 10px 0 10px;
}

.btn-into-basket {
    background:transparent url('../images/info/btn-into-basket2.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-right: 0px; 
    cursor: pointer;
}

/* pro všechno co je uvnitř */
.inside-content {
    float: left;
    width:618px;
    margin: 20px 0px 0px 0px;
    background-color: #ececec;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: Arial
}

.inside-content h2 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    margin:7px 5px 8px 8px;
}

.inside-content h4 {
    padding:1px; 
    font-size:10pt;
    font-weight: bold;
    text-transform:uppercase;
    padding-top: 10px;
}

.inside-content p {
    padding-top: 5px;
    padding-right: 15px;
    font-size: 14px;
}

/* LIST */
.inside-content #list {
}
.inside-content #list ul { 
    list-style-image: url("../images/arrow.png");
    font-size:16px;
    padding-left: 40px;
}
.inside-content #list ul li { 
    line-height:20px;
    padding-top: 5px;
}
/* END OF LIST */

/* BUTTON SEND */
.inside-content input[name=send] {
    background:transparent url('../images/info/button_send.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
/* END OF BUTTON SEND */

/* DROBEČKOVÁ NAVIGACE */
#breadcrumbs p {
    color: #666666;
    padding: 0 0 0px 20px; 
    font-family:Tahoma, sans-serif;
    padding-right: 10px;
}

#breadcrumbs a{
    color:#0D0D0D;
    text-decoration:none;
    color: #666666;
}
#breadcrumbs a:visited{text-decoration:none}
#breadcrumbs a:hover{
    text-decoration:underline;
    color: #000;
}

/****************/
/* PRETTY FORM */
/***************/
#pretty-form {
    border: solid 1px #ccc;
    padding: 10px 10px 5px 10px;
    margin-right: 30px;
}

#pretty-form input, #pretty-form textarea {
    padding: 5px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
#pretty-form textarea {
    width: 400px;
    max-width: 400px;
    height: 75px;
}

#pretty-form .text label{
    float: left;
}

#pretty-form input:hover, #pretty-form textarea:hover,
#pretty-form input:focus, #pretty-form textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
#pretty-form label {
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: 65px;
}
#pretty-form form[name=registration] {
    margin-bottom: 50px;
}


#pretty-form form[name=registration] label {
    text-align: right;
    padding-right: 10px;
    width: 90px;
    margin-top: 14px;
}

#pretty-form form[name=registration] input {
    width: 150px;
    margin-top: 10px;
}

#pretty-form input[name=send] {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#pretty-form input[name=back] {
    width: auto;
    height: 35px;
    padding: 9px 15px;
    float: left;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}

/******************/
/* FLASH MESSAGES */
/******************/
div.flash {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
    float: left;
    margin: 10px 0 0 15px;
    font-weight: bold;
    padding: 5px;
    width: 430px;
}

div.flash.info {
    display:inline-block;
    float: right;
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
    margin-right: 15px;
}

div.flash.error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash.wrong {
    padding: 5px;
    width: 430px;
    background: #FBE3E4;
    float: left;
    margin: 10px 0 0 15px;
    font-weight: bold;
}



/* table properties */
.div-table
{
    display:table; 
    border:1px solid #003399;
}

.div-table-caption
{
    display:table-caption; 
    background-image: url('../images/table/table-basket-header.jpg');

}

.div-table-row
{
    display:table-row;
}

.div-table-col
{
    display:table-cell; 
    padding: 5px; 
    border: 0px solid #003399;
}

/******************/
/* PRODUCT DETAIL */
/******************/
.itemDetail{
    width:688px;
    border:1px solid #BBBBBB;
    margin:0px 0px 10px 0px;
    float:left;
    position: relative;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 1px 1px 1px;
    background-color:#F4F8EE;
    -moz-border-radius:20px;
    border-radius: 20px 20px 5px 5px;
}

/* nadpis produktu */
.itemDetail .title{
    display: inline;
    line-height:30px;
    padding:0 0 0 30px;
    width:205px;
}

.itemDetail a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#4B4B4B;
    text-decoration:underline;
    font-weight:bold;
}

.itemDetail .itemImage {
    border:1px solid #BBBBBB;
    margin:0px 6px 10px 10px;
    float:left;
    position: relative;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 1px 1px 1px;
    background-color:#F4F8EE;
}

.itemDetail .itemImage img {
    width: 180px;
    height: 150px;
}

.itemDetail .store {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: left;
    padding-right: 20px;
    color:#4B4B4B;
}

.itemDetail .delivery {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: left;
    padding-right: 20px;
    color:#4B4B4B;
}

.itemDetail .rating {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: left;
    padding-right: 20px;
    color:#4B4B4B;
}

.itemDetail .describe {   
    width: 220px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 10px 10px 10px 200px;
}

.itemDetail .priceText {
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 13px 10px 0 0;
}

.itemDetail .price {
    display:block;
    width:90px;
    float:right;
    background-color:#4ca849;
    text-align:center;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-weight:bold;
    line-height:36px;
    margin: 10px 10px 0 0;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

.itemDetail .oldpriceDetail {
    position: relative;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    margin: -10px 30px 0 0;
}

.itemDetail .oldpriceDetail:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    padding-left: 20px;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

.itemDetail .center{
    margin:10px 10px 0 10px;
}

.itemDetail .btn-into-basket {
    background:transparent url('../images/info/btn-into-basket-big.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 165px;
    height: 38px;
    float: right;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}

/* TABS */
#tabs_wrapper {
    width: 422px;
}
#tabs_container {
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
}
#tabs li {
    display: inline;
}
#tabs li a {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}

#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}

#tabs li a.icon_accept {
    background-image: url('../images/info/accept.png');
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
#tabs li a.icon_accept:hover {
    padding-left: 24px;
}

#tabs_content_container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    width: 500px;
    margin-left: 10px;
}
.tab_content {
    display: none;
}

/****************/
/* COMMENT FORM */
/***************/
.comment-form {
    border: solid 1px #ccc;
    padding: 0 0 5px 10px;
}

.comment-form input, textarea {
    padding: 5px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.comment-form textarea {
    width: 400px;
    max-width: 400px;
    height: 75px;
    line-height: 150%;
    margin-top: -10px;
    margin-left: 50px;
}

.comment-form .name input{
    margin-left: 2px;
}

.comment-form input:hover, .comment-form textarea:hover,
.comment-form input:focus, .comment-form textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.comment-form .form label {
    margin-left: 10px;
    color: #999999;
}
.comment-form input[name=btnComment] {
    width: auto;
    padding: 9px 15px;
    margin-left: 380px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* COMMENT LIST */
.commment-list {
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

.commment-list .subject {
    font-weight: 600;
    padding-top: 15px;
}

.commment-list .login {
    font-size: 12px;
}

.commment-list .date {
    font-size: 10px;
}

.commment-list .text {
    padding: 10px 0 10px 0;
}

.commment-list .separator {
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-left: none;
}

.zeroCom {
    margin-top: 15px;
}

/* IMAGES GALLERY */
#galerie ul{
    margin:5px 0 0 4px;
}
#galerie li{
    display: inline-block;
    padding:0px 0px;
    margin:10px 10px 0 0;
    color:white;
    border: 1px solid #ccc;
}

/******************/
/* NOTICE MESSAGE */
/******************/

#notice {
    border: 1px solid #B0B0B0;
    padding: 1ex;
    background-color: #EAEAEA;
    color: #404040;
}

#valid {
    border: 1px solid #B0B0B0;
    padding: 1ex;
    background-color: #EAEAEA;
    color: #404040;
    margin-top: 10px;
    margin-left: 7px;
    width: 650px;
}

#valid p {
    padding-top: 7px;
    padding-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

#fail {
    border: 1px solid #B0B0B0;
    padding: 1ex;
    background-color: #edb7b7;
    color: #404040;
    margin-top: 10px;
    margin-left: 5px;
    width: 595px;
}

#fail p {
    padding-top: 7px;
    padding-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

/* STRÁNKOVÁNÍ PRODUKTŮ */
.paginator {
    display: inline;
    margin: 1em 0;
    font-size: 90%;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.paginator a, .paginator span {
    margin-right: 0.1em;
    padding: 0.2em 0.5em;
    color: #4ca849;
}

.paginator a {
    border: 1px solid #4ca849;
    text-decoration: none;
    color: #4ca849;
}

.paginator span.button {
    border: 1px solid #4ca849;
}

.paginator .current {
    background: #4ca849;
    border: 1px solid #4ca849;
    color: white;
    font-weight: bold;
}

/**************/
/* LOGIN FORM */
/**************/
.loginForm #login
{

    height: 240px;
    width: 400px;
    margin-top: 10px;
    padding: 30px;
    top: 50%;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  

}

/*--------------------*/

.loginForm h1
{
    text-transform: uppercase;
    text-align: center;
    color: #666;
    padding-top: 10px;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 13px/1 Verdana, Helvetica;
    position: relative;
}

.loginForm h1:after, h1:before
{
    background-color: #777;
    content: "";
    height: 1px;
    position: absolute;
    top: 15px;
    width: 100px;   
}

.loginForm h1:after
{ 
    background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
    background-image: linear-gradient(left, #777, #fff);      
    right: 0px;
}

.loginForm h1:before
{
    background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
}

/*--------------------*/

.loginForm fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

.loginForm #inputs input
{
    background: #f1f1f1 url(../images/info/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 0 0 10px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.loginForm #username
{
    background-position: 5px -2px !important;
}

.loginForm #password
{
    background-position: 5px -52px !important;
}

.loginForm #inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/
.loginForm #actions
{
    margin: 25px 0 0 0;
}

.loginForm #submit
{		
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: linear-gradient(top, #fddb6f, #ffb94b);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    

    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

.loginForm #submit:hover,.loginForm #submit:focus
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}	

.loginForm #submit:active
{		
    outline: none;

    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

.loginForm #submit::-moz-focus-inner
{
    border: none;
}

.loginForm #actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

/*--------------------*/

.loginForm #back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}

/**************/
/** INFO BOX **/
/**************/
.well {
    min-height: 20px;
    height: auto;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    font-size: larger;
    font-weight: bold;
}

.well img {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    padding-right: 20px;
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}

.well-large {
    padding: 24px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.well-small {
    padding: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}