*{
    margin:0px;
    padding:0px;
}
img{border:0px}
html{
    width:100%;
    height:100%
}
body{
    width:919px;
    margin:0 auto;
}
.float{float:left}
#header{
    display:block;
    float:left;
}

/* přihlásit se, registrovat se */
.topnav{
    width:600px;
    float:left;
    padding:0px 0 0 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#0D0D0D;
}
.topnav a{
    color:#0D0D0D;
    text-decoration:none;
}
.topnav a:visited{text-decoration:none}
.topnav a:hover{text-decoration:underline}

.topnav img{
    float:left;
    margin:0 2px;
}
.topnav span{
    display:block;
    float:left;
    margin:17px 10px 0 60px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

.topnav img[id=userIcon] {
    height: 12px;
    width: 12px;
    padding: 2px 5px 0 0;
}

.topnav img[id=regIcon] {
    height: 12px;
    width: 12px;
    float: right;
    padding: 2px 0px 0 2px;
}

.topnav .cart {
    margin-top: -105px;
    height:90px;
    float: right;
    width: 210px;
    padding:5px 0 0 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    background: transparent url(../images/info/bg-cart.png) no-repeat center left;
    border:1px solid #BBBBBB;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 0px 1px 1px;
    -moz-border-radius:20px;
    border-radius: 0px 0px 10px 10px;

}

.topnav .cart img {
    float: left;
    margin-right: -20px;
    padding-top: 20px;
}

.topnav .cart strong {
    display: inline;
    font-size:17px;
    margin: 5px 5px 3px 15px;
}

.topnav .cart .priceCount {
    padding:0px 0px 5px 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: right;
    margin: 10px 5px 0 0;
}

/* katalog, přihlásit se, registrovat se, nákupní košík */
#menu{
    display:block;
    float:left;
    margin:0px 0 0 16px;
}
#menu li{
    display:inline;
    list-style-type:none;
}
#menu img{
    float:left;
    margin:0 0 0 1px;
}

/* navigace a obsah */
#content{
    width:1000px;
    overflow:hidden;
    float:left;
    padding:0 0 7px 0;
}

/* navigace */
#sidebar{
    width:233px;
    float:left;
    padding:15px 0 0 4px
}
#navigation{
    background-color:#92A117;
    background-image:url(../images/sidebar_bg.jpg);
    background-position:top left;
    background-repeat:no-repeat;
    width:220px;
    padding:12px 0 14px 13px;
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#0D0D0D;
    border-bottom:1px solid #fff;
}
#navigation li{
    list-style-type:none;

    line-height:28px;
    color:#0D0D0D;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    display:block;
    width:179px;
    line-height:28px;
    background-image:url(../images/li_bg.jpg);
    background-position:top left;
    background-repeat:no-repeat;
    padding:0 0 2px 30px;

}
#navigation a{
    text-decoration: none;
    color: #000;
}

/* kategorie v navigaci */
.categories{
    border:1px solid #BBBBBB;
    border-top:0px;
    padding:25px 0 25px 18px;
    margin:0 0 1px 0
}
.categories li{
    list-style-type:none;
    background-image:url(../images/bullet.gif);
    background-position:top left;
    background-repeat:no-repeat;
    padding:0 0 7px 25px;
    line-height:17px;
    height:18px;
    display:block;
}
.categories a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#4B4B4B;
    text-decoration:none;
}
.categories a:visited{text-decoration:none}
.categories a:hover{text-decoration:underline}

/* recenze v navigaci */
.review{
    border:1px solid #BBBBBB;
    border-top:0px;
    padding:28px 0 15px 18px;
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;
}
.review a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#4B4B4B;
    text-decoration:underline;
    font-weight:bold;
}
.review a:visited, .item a:visited{text-decoration:underline}
.review a:hover, .item a:hover{text-decoration:none}
.review p{
    padding:10px 32px 13px 0;
}
.stars{
    margin:0 0 0 30px;
}

/* samotný obsah */
#main{
    width:686px;
    float:left;
}

/* nové zboží na úvodní straně včetně nadpisu novinky*/
#inside{
    padding:0px 0px 0px 10px;
    float:left;
}

/* informace o stránce (momentálně vypnuté) */
.info{
    font-family:Tahoma, sans-serif;
    font-size:11px;
    color:#565656;
    padding:17px 0 36px 0;
    overflow:hidden;
    float:left;
}
.info img{
    float:left;
    margin:0 22px 0 0
}

/* informace o stránce - tlačítko more (momentálně vypnuté) */
.more{
    display:block;
}
.info p{
    width:470px;
    float:left;
    padding:0 0 12px 0
}

#news {
    margin-left: 0px; 
    margin-top: 5px; 
    margin-bottom: 0px; 
}

/* nové zboží na úvodní stránce bez nadpisu novinky */
#items{
    float:left;
}

/* to samé jako #items ale rozšířené */
.item{
    width:215px;
    border:1px solid #BBBBBB;
    margin:10px 6px 0px 0px;
    float:left;
    height: 300px;
    position: relative;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 1px 1px 1px;
    background-color:#F4F8EE;
}

/* nadpis produktu */
.item p{
    display:block;
    line-height:30px;
    background-color:#F4F8EE;
    padding:0 0 0 10px;
    float:left;
    width:205px;
}

.item a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#4B4B4B;
    text-decoration:underline;
    font-weight:bold;
}

.item img {
    padding-left: 30px
}

.store {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: right;
    padding-right: 20px;
    color:#4B4B4B;
}

.describe {
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 10px 10px 10px 10px;
}

.price{
    display:block;
    width:70px;
    float:left;
    background-color:#4ca849;
    text-align:center;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-weight:bold;
    margin-top: 2px;
    line-height:26px;
    margin-left: 10px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}
.center{
    margin:10px 10px 0 10px;
}

.btn-into-basket input[name=addCart] {
    background:transparent url('../images/info/btn-into-basket2.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-right: 0px; 
    cursor: pointer;
}

/* pro všechno co je uvnitř */
.inside-content {
    float: left;
    width:618px;
    margin: 20px 0px 0px 17px;
    background-color: #ececec;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: Arial
}

.inside-content h2 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(../img/h1.png) no-repeat center left;
    margin:7px 5px 8px 8px;
}

.inside-content h4 {
    padding:1px; 
    font-size:10pt;
    font-weight: bold;
    text-transform:uppercase;
    padding-top: 10px;
}

.inside-content p {
    padding-top: 5px;
    padding-right: 15px;
    font-size: 14px;
}

/* LIST */
.inside-content #list {
}
.inside-content #list ul { 
    list-style-image: url("../images/arrow.png");
    font-size:16px;
    padding-left: 40px;
}
.inside-content #list ul li { 
    line-height:20px;
    padding-top: 5px;
}
/* END OF LIST */

/* BUTTON SEND */
.inside-content input[name=send] {
    background:transparent url('../images/info/button_send.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 116px;
    height: 35px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}
/* END OF BUTTON SEND */

/******************/
/* FLASH MESSAGES */
/******************/
div.flash {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash.info {
    display:inline-block;
    float: right;
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
    margin-right: 15px;
}

div.flash.error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

/**********/
/* FOOTER */
/**********/
#footer{
    background-image:url(../images/footer.jpg);
    background-position:bottom center;
    background-repeat:no-repeat;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#0D0D0D;
    padding:0 0 25px 0
}
#footer ul{
    padding:27px 0 13px 0
}
#footer li{
    display:inline;
    list-style-type:none;
}
#footer ul a{
    color:#0D0D0D;
    text-decoration:none;
    margin:0 12px;
}
#footer ul a:visited{text-decoration:none}
#footer ul a:hover{text-decoration:underline}

/* table properties */
.div-table
{
    display:table; 
    border:1px solid #003399;
}

.div-table-caption
{
    display:table-caption; 
    background-image: url('../images/table/table-basket-header.jpg');

}

.div-table-row
{
    display:table-row;
}

.div-table-col
{
    display:table-cell; 
    padding: 5px; 
    border: 0px solid #003399;
}

/******************/
/* PRODUCT DETAIL */
/******************/
.itemDetail{
    width:648px;
    border:1px solid #BBBBBB;
    margin:0px 0px 10px 0px;
    float:left;
    position: relative;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 1px 1px 1px;
    background-color:#F4F8EE;
    -moz-border-radius:20px;
    border-radius: 20px 20px 5px 5px;
}

/* nadpis produktu */
.itemDetail p{
    display: inline;
    line-height:30px;
    padding:0 0 0 30px;
    width:205px;
}

.itemDetail a{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#4B4B4B;
    text-decoration:underline;
    font-weight:bold;
}

.itemDetail .itemImage {
    border:1px solid #BBBBBB;
    margin:0px 6px 10px 10px;
    float:left;
    position: relative;
    border-color: #D4D4D4;
    border-style: solid;
    border-width: 1px 1px 1px;
    background-color:#F4F8EE;
}

.itemDetail .store {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: left;
    padding-right: 20px;
    color:#4B4B4B;
}

.itemDetail .delivery {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: left;
    padding-right: 20px;
    color:#4B4B4B;
}

.itemDetail .rating {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    float: left;
    padding-right: 20px;
    color:#4B4B4B;
}

.itemDetail .describe {   
    width: 220px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin: 10px 10px 10px 200px;
}

.itemDetail .priceText {
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 13px 10px 0 0;
}

.itemDetail .price {
    display:block;
    width:90px;
    float:right;
    background-color:#4ca849;
    text-align:center;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-weight:bold;
    line-height:36px;
    margin: 10px 10px 0 0;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

.itemDetail .center{
    margin:10px 10px 0 10px;
}

.itemDetail .btn-into-basket input[name=addCart] {
    background:transparent url('../images/info/btn-into-basket-big.png') no-repeat top left;
    border: 0;
    color: transparent;
    width: 165px;
    height: 38px;
    float: right;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}

/* TABS */
#tabs_wrapper {
    width: 422px;
}
#tabs_container {
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
}
#tabs {
    list-style: none;
    padding: 5px 0 4px 0;
    margin: 0 0 0 10px;
    font: 0.75em arial;
}
#tabs li {
    display: inline;
}
#tabs li a {
    border: 1px solid #ccc;
    padding: 4px 6px;
    text-decoration: none;
    background-color: #eeeeee;
    border-bottom: none;
    outline: none;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#tabs li a:hover {
    background-color: #dddddd;
    padding: 4px 6px;
}

#tabs li.active a {
    border-bottom: 1px solid #fff;
    background-color: #fff;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#tabs li.active a:hover {
    background-color: #eeeeee;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}

#tabs li a.icon_accept {
    background-image: url('../images/info/accept.png');
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
#tabs li a.icon_accept:hover {
    padding-left: 24px;
}

#tabs_content_container {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    width: 500px;
    margin-left: 10px;
}
.tab_content {
    display: none;
}

/* COMMENT FORM */

.comment-form {
    border: solid 1px #ccc;
    padding: 0 0 5px 10px;
}

.comment-form input, textarea {
    padding: 5px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.comment-form textarea {
    width: 400px;
    max-width: 400px;
    height: 75px;
    line-height: 150%;
    margin-top: -10px;
    margin-left: 50px;
}

.comment-form .name input{
    margin-left: 2px;
}

.comment-form input:hover, textarea:hover,
.comment-form input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}
.comment-form .form label {
    margin-left: 10px;
    color: #999999;
}
.comment-form input[name=btnComment] {
    width: auto;
    padding: 9px 15px;
    margin-left: 380px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* COMMENT LIST */
.commment-list {
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

.commment-list .subject {
    font-weight: 600;
    padding-top: 15px;
}

.commment-list .login {
    font-size: 12px;
}

.commment-list .date {
    font-size: 10px;
}

.commment-list .text {
    padding: 10px 0 10px 0;
}

.commment-list .separator {
    border: 1px solid #ccc;
    border-top: none;
    border-right: none;
    border-left: none;
}

.zeroCom {
    margin-top: 15px;
}

/******************/
/* NOTICE MESSAGE */
/******************/

#notice {
    border: 1px solid #B0B0B0;
    padding: 1ex;
    background-color: #EAEAEA;
    color: #404040;
}

#valid {
    border: 1px solid #B0B0B0;
    padding: 1ex;
    background-color: #EAEAEA;
    color: #404040;
    margin-top: 10px;
    margin-left: 7px;
    width: 650px;
}

#valid p {
    padding-top: 7px;
    padding-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

#fail {
    border: 1px solid #B0B0B0;
    padding: 1ex;
    background-color: #edb7b7;
    color: #404040;
    margin-top: 10px;
    margin-left: 5px;
    width: 595px;
}

#fail p {
    padding-top: 7px;
    padding-left: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

/* STRÁNKOVÁNÍ PRODUKTŮ */
.paginator {
    display: inline;
    margin: 1em 0;
    font-size: 90%;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

.paginator a, .paginator span {
    margin-right: 0.1em;
    padding: 0.2em 0.5em;
    color: #4ca849;
}

.paginator a {
    border: 1px solid #4ca849;
    text-decoration: none;
    color: #4ca849;
}

.paginator span.button {
    border: 1px solid #4ca849;
}

.paginator .current {
    background: #4ca849;
    border: 1px solid #4ca849;
    color: white;
    font-weight: bold;
}